<!------------ Fragment Start -------------->
<div th:fragment="start" th:remove="tag">
	<div class="card" id="inicio">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-12">
					<!--Grid row-->
					<div style="height: 60vh"
						class="d-flex flex-column justify-content-center align-items-center">
						<h1 class="h1 text-center mb-4">
							<i class="fas fa-exclamation-circle fa-lg mb-3 text-black-80"></i><br>
							<strong>Fillrate</strong>
						</h1>
						<h5 class="p1 small text-center mb-3">
							Ingrese sus parámetros de consulta y presione el botón <strong>"Consultar Período"</strong>.
						</h5>
					</div>
					<!--Grid row-->
				</div>
			</div>
		</div>
		
	<script th:inline="javascript" th:if="${code == true}">
   		 /*<![CDATA[*/
   		 
    		var titulo = /*[[${titulo}]]*/ 'default';
    		var message = /*[[${msg}]]*/ 'default';
    		var tipo = /*[[${tipo}]]*/ 'default';
    		
    		if(tipo == 1){
    		
    			toastr.success(message, titulo);
    			
    		}else if(tipo == 4){
    			
    			toastr.info(message, titulo);
    		}
    		
   		 /*]]>*/
	</script>
	<script th:inline="javascript" th:if="${code == false}">
   		 /*<![CDATA[*/
   		 
    		var titulo = /*[[${titulo}]]*/ 'default';
    		var message = /*[[${msg}]]*/ 'default';
    		var tipo = /*[[${tipo}]]*/ 'default';
    		
    		if(tipo == 2){
    		
    			toastr.warning(message, titulo);
    			
    		}else if(tipo == 3){
    			
    			toastr.error(message, titulo);
    		}
    		
   		 /*]]>*/
	</script>
	</div>
</div>
<!------------ Fragment Table Fillrate -------------->
<div th:fragment="table" th:remove="tag">
	<div class="card h-100" id="listFillrate">
		<div class="view overlay">
			<div class="table-responsive table-responsive-1 table-bordered mb-5" style="overflow-x: auto;">
				<!--Table-->
				<table id="dtFillRate" class="table table-striped table-hover table-sm">
					<!--Table head-->
					<thead>
						<tr>
							<th style="display: none;">Id</th>
							<th style="width: 25%">Id Período</th>
							<th style="width: 20%">Tipo período</th>
							<th style="width: 10%">Fecha inicio</th>
							<th style="width: 10%">Fecha final</th>
							<th style="width: 10%">Estatus cálculo</th>
							<th style="width: 05%">Flujo</th>
							<th style="width: 05%">Fecha cálculo</th>
							<th style="width: 05%">Usuario Registro</th>
							<th style="width: 05%">Fecha Registro</th>
							<th style="width: 05%">Usuario actualización</th>
							<th style="width: 05%">Calculo asignado</th>
							<th style="width: 4%" sec:authorize="hasAuthority('FILLRATE_CALCULO')">Procesar</th>
							<th style="width: 3%">Editar Rebates</th>
							<th style="width: 4%" sec:authorize="hasAuthority('FILLRATE_RECALCULO')">Reprocesar</th>
							<th style="width: 4%" sec:authorize="hasAuthority('EDIT_PERIODO')">Editar Periodo</th>
							<th style="width: 4%" sec:authorize="hasAuthority('ELIM_PERIODO')">Eliminar</th>
						</tr>
					</thead>
					<!--Table head-->
					<!--Table body-->
					<tbody>
						<tr th:each="element : ${lista}">
							<td class="text-center" style="display: none;" ><span th:text="${element.idCatPeriodo}"></span></td>
							<td><span th:text="${element.idCatPeriodo + ' - ' + element.detallePeriodo}"></span></td>
							<td><span th:text="${element.programaPago.programaPago}"></span></td>
							<td class="text-center"><span th:text="${#dates.format(element.fechaIni, 'dd/MM/yyyy')}"></span></td>
							<td class="text-center"><span th:text="${#dates.format(element.fechaFin, 'dd/MM/yyyy')}"></span></td>
							<td th:each="idCatalogo : ${catCompletado}" th:if="${idCatalogo.catalogoId.idElemento == element.estatus}">
								<span th:text="${idCatalogo.elemento}"></span>
							</td>
							<td><span th:text="${element.nombreUsuarioModifEstatus}"></span></td>
							<td class="text-center"><span th:text="${#dates.format(element.fechaCalculo, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
							<!-- <td class="text-center"><span th:text="${element.peso/1024 + ' Kb'}"></span></td> -->
							<!-- <td><span th:text="${element.estatus == 0 ? 'Pendiente de calcular' : 'Solicitud inicio calculo'}"></span></td> -->
							<td><span th:text="${element.nombreUsuarioCreacion}"></span></td>
							<td class="text-center"><span th:text="${#dates.format(element.fechaHoraCreacion, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
							<td><span th:text="${element.nombreUsuarioModificacion}"></span></td>
							<td th:each="perfil : ${perfiles}" th:if="${perfil.id == element.idPerfil}">
								<span th:text="${perfil.nombre}"></span>
							</td>
							
							<!-- Procesar -->
							<td class="text-center" sec:authorize="hasAuthority('FILLRATE_CALCULO')">
								<button th:if="${element.procesar}" th:id="process-periodo + '-' + ${element.idCatPeriodo}" th:attr="onclick=|return confirm_process(${element.idCatPeriodo}, ${element.estatus}, ${element.flujoEstatus.estatusDestino})|" type="button" title="Procesar período" class="blck btn btn-sm btn-link" style="cursor: pointer">
									<span class="fa-stack fa-lg icon-process">
										<i class="fas fas-button fa-play" aria-hidden="true"></i>
									</span>
								</button>
								
								<!--  nelly -->
								<!--  said 0,3 y 4 -->
								<button th:unless="${element.procesar}" th:id="process-periodo + '-' + ${element.idCatPeriodo}" type="button" title="Procesar período" class="blck btn btn-sm btn-link" style="cursor: pointer" disabled>
									<span class="fa-stack fa-lg icon-process-disabled">
										<i class="fas fas-button fa-play disable" aria-hidden="true"></i>
									</span>
								</button>
							</td>
							<!-- Editar Rebates -->
							<td class="text-center">
								<button th:attr="onclick=|return editRebates('${element.relJsonString}', ${element.idCatPeriodo}, '${element.detallePeriodo}', '${element.fechaIni}', '${element.fechaFin}', ${element.estatus})|" th:id="edit-periodo + '-' + ${element.idCatPeriodo}" type="button" title="Editar Rebates" class="blck btn btn-sm btn-link glow-on-hover" style="cursor: pointer">
									<span class="fa-stack fa-lg">
										<i class="fas fa-edit" aria-hidden="true"></i>
									</span>
								</button>
							</td>
							
							<!-- Reprocesar -->
							<td class="text-center" sec:authorize="hasAuthority('FILLRATE_RECALCULO')">
								<button th:if="${element.reprocesar}" th:id="cancel-periodo + '-' + ${element.idCatPeriodo}" th:attr="onclick=|return confirm_reprocesado(${element.idCatPeriodo})|" type="button" title="Reprocesar período" class="blck btn btn-sm btn-link" style="cursor: pointer">
									<span class="fa-stack fa-lg icon-ban">
										<i class="fas fas-button fa-ban" aria-hidden="true"></i>
									</span>
								</button>
								<button th:unless="${element.reprocesar}" th:id="cancel-periodo + '-' + ${element.idCatPeriodo}" type="button" title="Reprocesar período" class="blck btn btn-sm btn-link" style="cursor: pointer" disabled>
									<span class="fa-stack fa-lg icon-ban-disabled">
										<i class="fas fas-button fa-ban disable" aria-hidden="true"></i>
									</span>
								</button>
							</td>
							<!-- Editar -->
							<td class="text-center" sec:authorize="hasAuthority('EDIT_PERIODO')">
								<button th:if="${element.estatus == 0}" th:attr="onclick=|return editPeriodo(${element.idCatPeriodo}, '${element.detallePeriodo}', '${element.fechaIni}', '${element.fechaFin}', ${element.estatus})|" type="button" title="Editar Periodo" class="blck btn btn-sm btn-link glow-on-hover" style="cursor: pointer">
									<span class="fa-stack fa-lg">
										<i class="fas fa-edit" aria-hidden="true"></i>
									</span>
								</button>
								<button th:unless="${element.estatus == 0}" th:id="edit-periodo + '-' + ${element.idCatPeriodo}" type="button" title="Editar período" class="blck btn btn-sm btn-link" style="cursor: pointer" disabled>
									<span class="fa-stack fa-lg">
										<i class="fas fa-edit" aria-hidden="true"></i>
									</span>
								</button>
							</td>
							<!-- Eliminar -->
							<td class="text-center" sec:authorize="hasAuthority('ELIM_PERIODO')">
								<button th:if="${element.estatus == 0}" th:id="delete-periodo + '-' + ${element.idCatPeriodo}" th:attr="onclick=|return confirm_delete(${element.idCatPeriodo})|" type="button" title="Eliminar período" class="blck btn btn-sm btn-link" style="cursor: pointer">
									<span class="fa-stack fa-lg icon-eraser">
										<i class="fas fas-button fa-eraser" aria-hidden="true"></i>
									</span>
								</button>
								<button th:unless="${element.estatus == 0}" th:id="delete-periodo + '-' + ${element.idCatPeriodo}" type="button" title="Eliminar período" class="blck btn btn-sm btn-link" style="cursor: pointer" disabled>
									<span class="fa-stack fa-lg icon-eraser-disabled">
										<i class="fas fas-button fa-eraser disable" aria-hidden="true"></i>
									</span>
								</button>
							</td>
						</tr>

					</tbody>
					<!--Table body-->
				</table>
				<!--Table-->
			</div>
		</div>
	</div>
</div>
<!------------ Fragment No Records -------------->
<div th:fragment="noRecord" th:remove="tag">
	<div class="card" id="sinRegistro">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-12">
					<!--Grid row-->
					<div style="height: 60vh" class="d-flex flex-column justify-content-center align-items-center">
						<h1 class="h1 text-center mb-4">
							<i class="fas fa-search fa-lg mb-3 text-primary" style="opacity: .5;"></i><br> <strong
								class="text-primary">Sin Registros</strong>
						</h1>
						<h5 class="p1 small text-center mb-3">
							No se encuentran registros con los parámetros seleccionados.<br>
							Ingrese diferentes parámetros y presione el botón: <strong>"Consultar Período"</strong>.
						</h5>
					</div>
					<!--Grid row-->
				</div>
			</div>
		</div>
	</div>
</div>
<!------------ Fragment Create New -------------->
<div th:fragment="create" th:remove="tag">
	<div class="card-body" style="margin-top: -20px;">
		<div class="card-border">
			<div class="card-body">
				<form id="create-fillrate" th:action="@{/fillrate/create}" th:object="${periodo}" method="post" onsubmit="">
					<div class="row">
						<div class="col-lg-12 offset-md-0 col-md-12">
							<!--Grid row-->
							<div>
								<div class="row">
									<!-- Col-1 -->
									<div class="offset-lg-1 col-lg-5">
										<!-- Descripción -->
										<div class="md-form form-sm mt-3 pb-3">
											<input type="text" id="create-descripcion"
												class="form-control form-control-sm inputs-gcis "
												autocomplete="off" minlength="2" maxlength="30" required>
											<label class="label-gcis periodo-create" for="create-descripcion"></i>Descripción</label>
										</div>
										<!-- Fecha inicio -->
										<div class="md-form form-sm mt-3">
											<div id="date-picker-create-from" class="md-form md-outline" style="margin-bottom: 18px;">
												<input type="date" id="create-fechaIni" name="fechaIni" th:value="${fechaIni}" class="form-control pickerDates" autocomplete="off" style="color: rgb(73, 80, 87);" required>
												<label class="label-gcis periodo-create active" for="create-fechaIni">Fecha inicio</label>
											</div>
										</div>
									</div>
									<!-- Col-2 -->
									<div class="offset-lg-1 col-lg-5">
										<!-- Tipo período -->
										<div class="mt-3 pb-3 select-outline">
											<select id="create-select-periodo" name="programaPago.idCatProgramaPago" class="select-create md-form md-outline form-sm colorful-select dropdown-primary" required>
                  								<option value="" disabled selected>Seleccionar tipo de período</option>
												<option th:each="tipo: ${tiposPeriodo}"
													th:value="${tipo.idCatProgramaPago}"
													th:text="${tipo.idCatProgramaPago + ' - ' + tipo.programaPago}">
												</option>
                							</select> <label>Tipo período</label>
										</div>
										<!-- Fecha final -->
										<div class="md-form form-sm mt-3">
											<div id="date-picker-create-to" class="md-form md-outline" style="margin-bottom: 18px;">
												<input type="date" id="create-fechaFin" name="fechaFin" th:value="${fechaFin}" class="form-control pickerDates" autocomplete="off" style="color: rgb(73, 80, 87);" required>
												<label class="label-gcis periodo-create active" for="create-fechaFin">Fecha final</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--Grid row-->
						</div>
						<div class="col-lg-12">
							<div class="md-form d-flex justify-content-center mt-4">
								<button id="btn-resetPeriodo" type="button"
									class="btn btn-outline-primary btn-sm inline waves-effect">Cancelar</button>
								<button id="btn-createPeriodo" type="submit"
									class="btn btn-default btn-sm inline waves-effect"
									onclick="">Guardar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!------------ Fragment Edit Rel Periodo Rebate -------------->
<div th:fragment="edit" th:remove="tag">
	<div class="card-body" style="margin-top: -20px;">
		<div class="card-border">
			<div class="card-body">
				<form id="edit-fillrate" th:action="@{/fillrate/editRelacion}" th:object="${periodo}" method="post" onsubmit="">
					<div class="row">
						<div class="col-lg-12 offset-md-0 col-md-12">
							<!--Grid row-->
							<div>
								<div class="row">
									<!-- Col-1 -->
									<div class="offset-lg-1 col-lg-5">
										<!-- Id Periodo -->
										<div class="md-form form-sm mt-3">
											<input type="hidden" id="hidden-edit-idPeriodo">
											<input type="text" id="edit-idPeriodo" disabled
												class="form-control form-control-sm inputs-gcis "
												autocomplete="off" minlength="2" maxlength="30" required>
											<label class="label-gcis" for="edit-idPeriodo"></i>Id</label>
										</div>
									</div>
									<div class="col-lg-5">
										<!-- Descripción -->
										<div class="md-form form-sm mt-3">
											<input type="text" id="edit-descPeriodo" disabled
												class="form-control form-control-sm inputs-gcis "
												autocomplete="off" minlength="2" maxlength="30" required>
											<label class="label-gcis" for="edit-descPeriodo"></i>Descripción</label>
										</div>
									</div>
								</div>
								
								<div class="row">
									<!-- Col-1 -->
									<div class="offset-lg-1 col-lg-5">
										<!-- Fecha inicio -->
										<div class="md-form form-sm mt-3">
											<div id="date-picker-create-from" class="md-form md-outline" style="margin-bottom: 18px;">
												<input type="date" id="edit-fechaIni" name="fechaIni" class="form-control pickerDates" autocomplete="off" style="color: rgb(73, 80, 87);" required disabled>
												<label class="label-gcis periodo-create active" for="create-fechaIni">Fecha inicio</label>
											</div>
										</div>
									</div>
									
									<div class="col-lg-5">
										<!-- Fecha final -->
										<div class="md-form form-sm mt-3">
											<div id="date-picker-create-to" class="md-form md-outline" style="margin-bottom: 18px;">
												<input type="date" id="edit-fechaFin" name="fechaFin" class="form-control pickerDates" autocomplete="off" style="color: rgb(73, 80, 87);" required disabled>
												<label class="label-gcis periodo-create active" for="create-fechaFin">Fecha final</label>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<!-- Col-1 -->
									<div class="offset-lg-1 col-lg-10">
										<!-- Tipo Rebates -->
										<div id="container-table">
										</div>
									</div>						
								</div>
							</div>
						</div>
						<div class="col-lg-12" id="div-modificar-true">
							<div class="md-form d-flex justify-content-center mt-4">
								<button id="btn-resetRelacion" type="button"
									class="btn btn-outline-primary btn-sm inline waves-effect">Cancelar</button>
								<button sec:authorize="hasAuthority('EDIT_PERIODO')" id="btn-editRelPeriodoRebate" type="button"
									class="btn btn-default btn-sm inline waves-effect"
									onclick="">Guardar</button>
							</div>
						</div>
						<div class="col-lg-12" id="div-modificar-false">
							<div class="md-form d-flex justify-content-center mt-4">
								<span>No es posible modificar debido a que el periodo ya fue procesado.
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!------------ Fragment Edit Fechas Periodo -------------->
<div th:fragment="editFechas" th:remove="tag">
	<div class="card-body" style="margin-top: -20px;">
		<div class="card-border">
			<div class="card-body">
				<form id="edit-fillrate" th:action="@{/fillrate/editFechas}" th:object="${periodo}" method="post" onsubmit="">
					<div class="row">
						<div class="col-lg-12 offset-md-0 col-md-12">
							<!--Grid row-->
							<div>
								<div class="row">
									<!-- Col-1 -->
									<div class="offset-lg-1 col-lg-5">
										<!-- Id Periodo -->
										<div class="md-form form-sm mt-3">
											<input type="text" id="edit-fecha-idPeriodo" disabled
												class="form-control form-control-sm inputs-gcis "
												autocomplete="off" minlength="2" maxlength="30" required>
											<label class="label-gcis" for="edit-idPeriodo"></i>Id</label>
										</div>
									</div>
									<div class="col-lg-5">
										<!-- Descripción -->
										<div class="md-form form-sm mt-3">
											<input type="text" id="edit-fecha-descPeriodo" disabled
												class="form-control form-control-sm inputs-gcis"
												autocomplete="off" minlength="2" maxlength="30" required>
											<label class="label-gcis" for="edit-descPeriodo"></i>Descripción</label>
										</div>
									</div>
								</div>
								
								<div class="row">
									<!-- Col-1 -->
									<div class="offset-lg-1 col-lg-5">
										<!-- Fecha inicio -->
										
										<!-- Fecha inicio -->
										<div class="md-form form-sm mt-3">
											<div id="date-picker-create-from" class="md-form md-outline" style="margin-bottom: 18px;">
												<input type="date" id="edit-fecha-fechaIni" name="fechaIni" class="form-control pickerDates" autocomplete="off" style="color: rgb(73, 80, 87);" required>
												<label class="label-gcis periodo-create active" for="create-fechaIni">Fecha inicio</label>
											</div>
										</div>
									</div>
									
									<div class="col-lg-5">
										<!-- Fecha final -->
										<div class="md-form form-sm mt-3">
											<div id="date-picker-create-to" class="md-form md-outline" style="margin-bottom: 18px;">
												<input type="date" id="edit-fecha-fechaFin" name="fechaFin" class="form-control pickerDates" autocomplete="off" style="color: rgb(73, 80, 87);" required>
												<label class="label-gcis periodo-create active" for="create-fechaFin">Fecha final</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="md-form d-flex justify-content-center mt-4">
								<button id="btn-resetEditFechas" type="button"
									class="btn btn-outline-primary btn-sm inline waves-effect">Cancelar</button>
								<button id="btn-editPeriodoFechas" type="button"
									class="btn btn-default btn-sm inline waves-effect" onclick="">Guardar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

