# Compilados Java
target/
bin/
build/
*.class
*.jar
*.war
*.ear
 
# IDEs
.idea/
.vs/
*.iml
.classpath
.project
.settings/
 
# Node
node_modules/
dist/
 
# Sistema
*.log
*.tmp
Thumbs.db
.DS_Store
 
# PowerShell scripts temporales
emp.txt

# Comprimidos
*.zip
*.rar
*.7z
*.tar
*.gz
