<!-- <div class="text-center py-3">
	<img style="margin-top: -5px;" 
		alt="sodimac-mini.png"
		src="img/sodimac-mini.png"> 
	<span>Todos los derechos reservados Sodimac S.A. 2021 </span> CFDI Version <span th:text="${version}"></span>
</div> -->


<div th:fragment="footer-principal" class="text-center py-3">
	<img style="margin-top: -5px;" alt="sodimac-mini.png" th:src="@{/img/sodimac-mini.png}">
	<span>Todos los derechos reservados Sodimac S.A. 2023 </span> CFDI Version <span th:text="${version}"></span>
</div>