# App
PORT=8091
NODE_ENV=development

# Database (Spring Boot style - mismo formato que fiscal-api)
DATASOURCE_URL=jdbc:postgresql://localhost:5434/b2b_portal?currentSchema=tenant_finance?useSSL=true
DATASOURCE_USERNAME=wwwb2bportal
DATASOURCE_PASSWORD=b8@qU0YM1HU>

# Security / JWT
FINANZAS_JWT_ENABLED=false
JWT_PUBLIC_KEY_B64=MIIBIjANBgkqh...

# KeyCloak Groups/Roles
KEYCLOAK_GROUP_RESOLVER=ppsomx-resolver
KEYCLOAK_GROUP_VENDOR=ppsomx-vendor
KEYCLOAK_GROUP_ADMIN=ppsomx-admin

# Paginación
PAGINATION_DEFAULT_SIZE=20
PAGINATION_MAX_SIZE=100

# Google Cloud Storage
GCS_BUCKET=fs-sod-mx-mrch-aclaraciones-dev
GCS_PREFIX=bk-finanzas-dev/finanzas/

# Integración externa
FISCAL_API_URL=https://fiscal-api.tu-dominio
