<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
 <head>

<title id="pageTitle">CFDI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="shortcut icon" th:href="@{/img/favicon.ico}" mce_href="favicon.ico"
	type="image/x-icon">

<!-- CSS styles -->

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
<link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet">
<link th:href="@{/js/datepicker/bootstrap-datepicker.standalone.min.css}" rel="stylesheet">
<link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<link th:href="@{/css/custom.css}" rel="stylesheet">
<link th:href="@{/css/dataTables.checkboxes.css}" rel="stylesheet">
<link th:href="@{/css/mdb-pro.css}" rel="stylesheet">
<link th:href="@{/css/spinner.css}" rel="stylesheet">

<!-- <link href="vendors/ionicons/css/ionicons.min.css" rel="stylesheet"> -->
<!-- <link href="css/all.css" rel="stylesheet"> -->
<!-- <link href="css/spinner.css" rel="stylesheet"> -->

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" th:src="@{/js/addons/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/addons/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/addons/dataTables.checkboxes.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/js/jquery.mask.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker/bootstrap-datepicker.es.min.js}"></script>

</head>

<body>	
	<!-- Header -->
	<header th:insert="fragments/header :: header-principal" id="header"></header>

	<!-- Start your project here-->
	<section class="mt-5 animated fadeIn">
		<div class="mask rgba-gradient">
			<div class="container h-100 mt-5 mb-5">

			<div class="text-center">
             	<div id="spinner" class="hide loading"></div>
            </div>

				<!--Grid row-->
				<div class="row pt-5 mt-5">

					<!--Grid column-->
					<div th:include="fragments/comisionesList :: fragmentStart" id="fragmentDiv" class="col-md-10">
					</div>
					<!--Grid column-->


		            <div class="col-md-2">
		                <div class="card">
		                    <div class="card-body">
		                        <div class="row m-b-0">

		                            <div class="col-12 col-sm-12 col-md-12" id="date-container">
		                                <div class="input-daterange input-group" id="datepicker">
		                                    <div class="form-group w-100">
		                                        <input type="text" id="dateDesde" class="input-sm form-control w-100 full" autocomplete="off" name="start" 
		                                        placeholder="dd/mm/aaaa" data-date-format="dd/mm/yyyy" tabindex="2" onblur="isValidDate('dateDesde', 'date_desde_validation', 'dateHasta', 'date_hasta_validation')">
		                                        <label for="·" class="control-label">
		                                            <span class="text-danger">*</span>Desde:
		                                        </label>
		                                        <div  id="date_desde_validation">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
	
		                            <div class="col-12 col-sm-12 col-md-12" id="date-container">
		                                <div class="input-daterange input-group" id="datepicker">
		                                    <div class="form-group w-100">
		                                        <input type="text" id="dateHasta" class="input-sm form-control w-100 full" autocomplete="off" name="end" data-date-format="dd/mm/yyyy"
		                                         tabindex="3" onblur="isValidDate('dateDesde', 'date_desde_validation','dateHasta', 'date_hasta_validation')">
		                                        <label for="·" class="control-label">
		                                            <span class="text-danger">*</span>Hasta:
		                                        </label>
		                                        <div  id="date_hasta_validation">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            
		                            <div class="col-12 col-sm-12 col-md-12 m-b-25">
		                                <div class="txt-assist m-neutralize-form-group2">
		                                    Rango de fechas <strong>( dd/mm/yyyy )</strong>
		                                </div>
		                            </div>
		                            
		                        </div><!-- /.row -->

								<div class="row">
		                            <div class="col-12 col-sm-12 col-md-12 m-b-25">
		                                <div class="form-group m-b-0">
		                                    <input id="TicketInput" value="" type="text" class="form-control text-uppercase" maxlength="19" onkeypress="ticketInput_onkeypress();" onblur="releaseEventTicketInputEmpty();" autocomplete="off"  tabindex="1">
	
		                                    <label for="TicketInput" class="control-label">
		                                        Ticket:
		                                    </label>
		                                    <div>
		                                        <div class="col-12" id="ticketInput_validation">
		                                        </div>
		                                    </div>
		                                    <div class="txt-assist">
		                                        Ejemplo: 2023081210100031234
		                                    </div>
		                                </div><!-- /.form-group -->
		                            </div>
		                        </div>

		                        <div class="row">
		                            <div class="col-12 col-sm-12 col-md-12 m-b-25">
		                                <div class="form-group m-b-0">
											<select id="listTiendas" class="btn btn-light text-left w-100">
											</select>		                                
		                                </div>
		                            </div>    
		                        </div>
		                        
		                        <div class="row m-t-0 m-b-0 ">
	                                <div class="col-10 text-left ">
	                                	<span class="title-2 m-b-0 "><span class="text-danger" style="font-size: 1.5rem; vertical-align: middle;">*</span> Campos obligatorios</span>
	                                </div>
	                            </div>
		                        
		                        <div class="row text-center">
		                        	 <div class="col-12 col-sm-12 col-md-12">
		                                <button id="btnBuscarComisiones" type="button" class="btn btn-primary btn-block" onclick="consultarOnClick()" tabindex="1">
		                                    Consultar
		                                </button>
		                            </div>
			                        <div id="messages_consultas_multiples" style="margin-left: 20px;">
			                        </div>
		                        </div>
		                        
		                        <div class="row text-center" style="padding-top: 5%;">
		                        	 <div class="col-12 col-sm-12 col-md-12">
		                                <button id="btnDescargaxlsx" type="button" class="btn btn-primary btn-block" style="padding-left: 0 !important; padding-right: 0 !important;" onclick="descargaxlsxOnClick()" tabindex="1">
		                                    Exportar a Excel
		                                </button>
		                            </div>
			                        <div id="messages_consultas_multiples" style="margin-left: 20px;">
			                        </div>
		                        </div>
		                        
		                        
		                    </div><!-- /.card-body -->
		                </div><!-- /.card -->
		            </div><!-- /.col-12 -->


				</div>
				<!--Grid row-->

			</div>
		</div>
		
		<div class="modal" tabindex="-1" id="modalDescargarExcelComplemento">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h4 class="modal-title" th:text="#{COMPLEMENTO_FOLIOS.TITULO}"></h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		      <div class="modal-body">
		        <div id="divWarningExcelComplemento" class="alert alert-warning"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">
		        	<i class="fa fa-floppy-o"></i> <span th:text="#{COMUN.ACEPTAR}"></span>
                </button>
		      </div>
		    </div>
		  </div>
		</div>

		<input type="hidden" id="hdnExpresionRegularRfcCaracteres" value=""/>
		<input type="hidden" id="hdnExpresionRegularRfc" value=""/>
		<input type="hidden" id="hdnExpresionRegularEmail" value=""/>
		<input type="hidden" id="hdnExpresionRegularRZ" value=""/>
		<input type="hidden" id="hdnExpresionRegularObra" value=""/>
		<input type="hidden" id="hdnExpresionRegularResponsableObra" value=""/>
	</section>
	<!-- /.Start your project here-->

	<!-- Footer -->
	<footer th:insert="fragments/footer :: footer-principal" class="page-footer font-small grey lighten-5 fixed-bottom">

	</footer>

<!-- Script section -->
<script type="text/javascript" charset="UTF-8" th:src="@{/js/ajaxComisiones.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/js/comisiones.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/js/variables.js}"></script>
<script>
		
		$(document).ready(function() {
		
			// Clean notify message
			toastr.clear();
			// Styles for navigation bar.
			$(".nav-item").removeClass("active");
			$(".dropdown-item").removeClass("active");
			$("#navComplemento").addClass("active");
			
		});
		
	</script>
<!-- /.Script section -->

</body>

</html>