<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- <head th:include="fragments/header :: headGeneric">
	<title id="pageTitle">CFDI</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	Load elements from fragments/general
</head>
 -->
 
 <head>

<title id="pageTitle">CFDI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="shortcut icon" th:href="@{/img/favicon.ico}" mce_href="favicon.ico"
	type="image/x-icon">

<!-- CSS styles -->

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
<link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet">
<link th:href="@{/js/datepicker/bootstrap-datepicker.standalone.min.css}" rel="stylesheet">
<link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<link th:href="@{/css/custom.css}" rel="stylesheet">
<link th:href="@{/css/dataTables.checkboxes.css}" rel="stylesheet">
<link th:href="@{/css/mdb-pro.css}" rel="stylesheet">
<link th:href="@{/css/spinner.css}" rel="stylesheet">

<!-- <link href="vendors/ionicons/css/ionicons.min.css" rel="stylesheet"> -->
<!-- <link href="css/all.css" rel="stylesheet"> -->
<!-- <link href="css/spinner.css" rel="stylesheet"> -->

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" th:src="@{/js/addons/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/addons/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/addons/dataTables.checkboxes.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/js/jquery.mask.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker/bootstrap-datepicker.es.min.js}"></script>

</head>

<body>

	<!-- Header -->
	<!-- <header>
	Navigation bar
		<nav class="mb-1 navbar navbar-expand-lg fixed-top scrolling-navbar navbar-light grey lighten-5">
				<a class="navbar-brand" th:href="@{/consultar}"><img src="img/svg/logo.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
					aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
				
				         <div th:remove="tag" th:utext="${navbar}"></div>
				
				</div>
		</nav>
	/.Navigation bar
	</header> -->
	<!-- /.Header -->
	
	
	
	<!-- Header -->
	<header th:insert="fragments/header :: header-principal" id="header">

	</header>

	<!-- Start your project here-->
	<section class="mt-5 animated fadeIn">
		<div class="mask rgba-gradient">
			<div class="container h-100 mt-5 mb-5">

			<div class="text-center">
             	<div id="spinner" class="hide loading"></div>
            </div>

				<!--Grid row-->
				<div class="row pt-5 mt-5">

					<!--Grid column-->
					<div th:include="fragments/descargaList :: fragmentStart" id="fragmentDiv" class="col-md-10">
					</div>
					<!--Grid column-->


		            <div class="col-md-2">
		                <div class="card">
		                    <div class="card-body">
		                        <div class="row m-b-0">

		                            <div class="col-12 col-sm-12 col-md-12" id="date-container">
		                                <div class="input-daterange input-group" id="datepicker">
		                                    <div class="form-group w-100">
		                                        <input type="text" id="dateDesde" class="input-sm form-control w-100 full" autocomplete="off" name="start" 
		                                        placeholder="dd/mm/aaaa" data-date-format="dd/mm/yyyy" tabindex="2" onblur="isValidDate('dateDesde', 'date_desde_validation', 'dateHasta', 'date_hasta_validation')">
		                                        <label for="·" class="control-label">
		                                            <span class="text-danger">*</span>Desde:
		                                        </label>
		                                        <div  id="date_desde_validation">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
	
		                            <div class="col-12 col-sm-12 col-md-12" id="date-container">
		                                <div class="input-daterange input-group" id="datepicker">
		                                    <div class="form-group w-100">
		                                        <input type="text" id="dateHasta" class="input-sm form-control w-100 full" autocomplete="off" name="end" data-date-format="dd/mm/yyyy"
		                                         tabindex="3" onblur="isValidDate('dateDesde', 'date_desde_validation','dateHasta', 'date_hasta_validation')">
		                                        <label for="·" class="control-label">
		                                            <span class="text-danger">*</span>Hasta:
		                                        </label>
		                                        <div  id="date_hasta_validation">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            
		                            <div class="col-12 col-sm-12 col-md-12 m-b-25">
		                                <div class="txt-assist m-neutralize-form-group2">
		                                    Rango de fechas entre los que se buscarán los complementos de pago <strong>( dd/mm/yyyy )</strong>
		                                </div>
		                            </div>
		                            
		                        </div><!-- /.row -->
		               
		                        
		                        <div class="row">
		                            <div class="col-12 col-sm-12 col-md-12 m-b-25">
		                                <div class="form-group m-b-0">
		                                    <input id="idEjecucionInput" value="" type="text" class="form-control" maxlength="13" onkeypress="idEjecucionInput_onkeypress();" onblur="releaseEventidEjecucionInputEmpty();" autocomplete="off"  tabindex="1">
	
		                                    <label for="idEjecucionInput" class="control-label">
		                                        Id de Ejecucion:
		                                    </label>
		                                    <div>
		                                        <div class="col-12" id="idEjecucionInput_validation">
		                                        </div>
		                                    </div>
		                                    <div class="txt-assist">
		                                        Ejemplo: 1673556014
		                                    </div>
		                                </div><!-- /.form-group -->
		                            </div>
		                        </div>
		                        
		                        <div class="row">
		                            <div class="col-12 col-sm-12 col-md-12 m-b-25">
		                                <div class="form-group m-b-0">
											<select id="listEstatusProceso" class="btn btn-light text-left w-100">
												<option value="">Seleccione un estatus</option>
												<option value="0">Procesando</option>
												<option value="1">Listo</option>
												<option value="2">Problema al procesar</option>
												<option value="3">Descargado</option>
												<option value="4">Problema al descargar</option>
											</select>		                                
		                                </div>
		                            </div>    
		                        </div>

	                            <div class="row m-t-0 m-b-0 ">
	                                <div class="col-10 text-left ">
	                                	<span class="title-2 m-b-0 "><span class="text-danger" style="font-size: 1.5rem; vertical-align: middle;">*</span> Campos obligatorios</span>
	                                </div>
	                            </div>
		                        
		                        <div class="row text-center">
		                        	 <div class="col-12 col-sm-12 col-md-12">
		                                <button id="btnBuscar" type="button" class="btn btn-primary btn-block" onclick="consultarOnClick()" tabindex="1">
		                                    Consultar
		                                </button>
		                            </div>
		                        </div>
		                        
		                        
		                    </div><!-- /.card-body -->
		                </div><!-- /.card -->
		            </div><!-- /.col-12 -->


				</div>
				<!--Grid row-->

			</div>
		</div>
		

	</section>
	<!-- /.Start your project here-->

	<!-- Footer -->
	<footer th:insert="fragments/footer :: footer-principal" class="page-footer font-small grey lighten-5 fixed-bottom">

	</footer>

<!-- Script section -->
<script type="text/javascript" charset="UTF-8" th:src="@{/js/ajaxDescarga.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/js/descarga.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/js/variables.js}"></script>
<script>
		
		$(document).ready(function() {
		
			// Clean notify message
			toastr.clear();
			// Styles for navigation bar.
			$(".nav-item").removeClass("active");
			$(".dropdown-item").removeClass("active");
			$("#navDescarga").addClass("active");
			
		});
		
	</script>
<!-- /.Script section -->

</body>

</html>