<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:include="fragments/general :: headGeneric">
	<title id="pageTitle">CFDI</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>

	<header th:include="fragments/general :: headerIndex" id="header">
	</header>
	
	<!-- Start your project here-->

	<section class="mt-5 animated fadeIn">
		<div class="mask rgba-gradient">
			<div class="container h-100 mt-5 mb-5">
				<div class="row pt-5 mt-5">
					<div class="col"></div>
					<div id="fragmentDiv" th:include="fragments/login :: formLogin" class="col">
					</div>
					<div class="col"></div>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:include="fragments/general :: footerGeneric" class="page-footer font-small grey lighten-5 fixed-bottom">
	</footer>
	
	<script type="text/javascript" src="./js/addons/datatables.min.js"></script>
	<script type="text/javascript" src="./js/mdb.min.js"></script>
	<script type="text/javascript" src="./js/login.js"></script>
	
</body>

</html>
