<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:include="fragments/general :: headGeneric">
	<title id="pageTitle">INICIO</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- Load elements from fragments/general -->
</head>

<body>


	
	<!-- Header -->
	<header th:insert="fragments/header :: header-principal" id="header">

	</header>

	<!-- Start your project here-->
	<section class="mt-5 animated fadeIn">
		<div class="mask rgba-gradient">
			<div class="container h-100 mt-5 mb-5">

	                                 <div class="text-center">
	                                 	<div id="spinner" class="hide loading"></div>
	                                 </div>
	                                 				<!--Grid row-->
				<div class="row pt-5 mt-5">

					<!--Grid column-->
					<div th:insert="fragments/menuCard :: fragmentMenuCards" id="fragmentDiv" class="col-md-12">
					</div>
 					<!--div th:insert="fragments/perfilList :: fragmentTable" id="fragmentDivPerfilList" class="col-md-12">
					</div-->
					<!--Grid column-->

				</div>
			
	        </div>
	    </div>
		

	</section>
	<!-- /.Start your project here-->

	<!-- Footer -->
	<footer th:insert="fragments/footer :: footer-principal" class="page-footer font-small grey lighten-5 fixed-bottom">

	</footer>
<!-- Script section -->
<script type="text/javascript" charset="UTF-8" src="./js/ajax.js"></script>
<script type="text/javascript" charset="UTF-8" src="./js/catalogos/catalogos.js"></script>
<script type="text/javascript" charset="UTF-8" src="./js/variables.js"></script>



	<script>
	$(document).ready(function() {
		
		// Clean notify message
		toastr.clear();
		// Styles for navigation bar.
		//$(".nav-item").removeClass("active");
		//$(".dropdown-item").removeClass("active");
		//$("#navCfdi").addClass("active");
		
	});

		
	</script>
<!-- /.Script section -->

</body>

</html>